
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
/* Center the button container vertically and horizontally */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(/images/Sunrise_backgroundZOOM.jpg);
   background-repeat: no-repeat;
    background-size: cover;
}

.welcome-text{
    position: absolute;
    top: 150px;
    font-size: 60px;
    color: white;
}
/* Style for the button container */
.button-container {
    display: flex;
    gap: 20px; /* Spacing between buttons */
}

/* Style for the custom buttons */
.custom-button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3); /* Slightly transparent background color */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 45px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    width:450px;
    height: 350px;
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 1.5s ease-in-out forwards; 
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Hover effect for buttons */
.custom-button:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Darker transparent background on hover */
}

.bottom-text{
    position: absolute;
    top: 70%;
    font-size: 40px;
    color: white;
}